In [96]:
#Import 
import pandas as pd
import numpy as np
import statistics

In [21]:
#import datasets
df = pd.read_csv("/content/AwardsManagers.csv")

#Print dataframe
print(df)

      playerID                    awardID  yearID lgID  tie notes
0    larusto01  BBWAA Manager of the Year    1983   AL  NaN   NaN
1    lasorto01  BBWAA Manager of the Year    1983   NL  NaN   NaN
2    andersp01  BBWAA Manager of the Year    1984   AL  NaN   NaN
3     freyji99  BBWAA Manager of the Year    1984   NL  NaN   NaN
4      coxbo01  BBWAA Manager of the Year    1985   AL  NaN   NaN
..         ...                        ...     ...  ...  ...   ...
174  willima04  BBWAA Manager of the Year    2014   NL  NaN   NaN
175  banisje01  BBWAA Manager of the Year    2015   AL  NaN   NaN
176  maddojo99  BBWAA Manager of the Year    2015   NL  NaN   NaN
177  francte01  BBWAA Manager of the Year    2016   AL  NaN    \t
178  roberda07  BBWAA Manager of the Year    2016   NL  NaN   NaN

[179 rows x 6 columns]

In [22]:
df['tie_cleaned'] = df.loc[:, 'tie']

print(df)

      playerID                    awardID  yearID lgID  tie notes tie_cleaned
0    larusto01  BBWAA Manager of the Year    1983   AL  NaN   NaN         NaN
1    lasorto01  BBWAA Manager of the Year    1983   NL  NaN   NaN         NaN
2    andersp01  BBWAA Manager of the Year    1984   AL  NaN   NaN         NaN
3     freyji99  BBWAA Manager of the Year    1984   NL  NaN   NaN         NaN
4      coxbo01  BBWAA Manager of the Year    1985   AL  NaN   NaN         NaN
..         ...                        ...     ...  ...  ...   ...         ...
174  willima04  BBWAA Manager of the Year    2014   NL  NaN   NaN         NaN
175  banisje01  BBWAA Manager of the Year    2015   AL  NaN   NaN         NaN
176  maddojo99  BBWAA Manager of the Year    2015   NL  NaN   NaN         NaN
177  francte01  BBWAA Manager of the Year    2016   AL  NaN    \t         NaN
178  roberda07  BBWAA Manager of the Year    2016   NL  NaN   NaN         NaN

[179 rows x 7 columns]

In [23]:
#Finding Missing values

num_rows = df.shape[0]

num_missing = num_rows - df.count()

print(num_missing)

playerID         0
awardID          0
yearID           0
lgID             0
tie            177
notes          178
tie_cleaned    177
dtype: int64

In [24]:
#Cleaned NA out of tie column to be no
df.fillna("No").iloc[0:10, 0:7]

    playerID                    awardID  yearID lgID tie notes tie_cleaned
0  larusto01  BBWAA Manager of the Year    1983   AL  No    No          No
1  lasorto01  BBWAA Manager of the Year    1983   NL  No    No          No
2  andersp01  BBWAA Manager of the Year    1984   AL  No    No          No
3   freyji99  BBWAA Manager of the Year    1984   NL  No    No          No
4    coxbo01  BBWAA Manager of the Year    1985   AL  No    No          No
5  herzowh01  BBWAA Manager of the Year    1985   NL  No    No          No
6  mcnamjo99  BBWAA Manager of the Year    1986   AL  No    No          No
7  lanieha01  BBWAA Manager of the Year    1986   NL  No    No          No
8  andersp01  BBWAA Manager of the Year    1987   AL  No    No          No
9  rodgebu01  BBWAA Manager of the Year    1987   NL  No    No          No

In [ ]:
#Define Functions

#Mean function

#Sum Function

#Mode Function

#Median Function

#Range function

In [ ]:
#apply() does not work in my dataset and I cannot find a dataset that I have where it was applicable.

In [75]:
#Sum function
def my_sum(x):
#Sum of values
    return sum(x)

In [70]:
#Sum of yearID values
print(df['yearID'].sum())

356017

In [ ]:
#Apply function that is not applicable to dataset
sums = df['yearID'].apply(my_sum)

print(sums)

In [92]:
#Mean Function
def my_mean(x):
  #mean of values
    return sum(x) / len(x)

In [ ]:
#Apply function that is not applicable to dataset
the_mean = df['yearID'].apply(my_mean)

print(the_mean)

In [72]:
#Mean of yearID
print(df['yearID'].mean())

1988.9217877094973

In [101]:
#Mode Function
def my_mode(x):
#Sum of values
    return statistics.mode(x)

In [ ]:
#Apply function that is not applicable to dataset
the_mode = df['yearID'].apply(my_mode)

print(the_mode)

In [104]:
#Mode of yearID
print(df['yearID'].mode())

0    1996
dtype: int64

In [108]:
#Median Function
def my_median(x):

    return statistics.median(x)

In [ ]:
#Apply function that is not applicable to dataset
the_median = df['yearID'].apply(my_median)

print(the_median)

In [110]:
#Median of yearID
print(df['yearID'].median())

1994.0

In [116]:
#Range function
def my_range(x):

    return max(x) - min(x)

In [ ]:
#Apply function that is not applicable to dataset
the_range = df['yearID'].apply(my_range)

print(the_range)

In [120]:
#Range of yearID
print(df['yearID'].max() - df['yearID'].min())

80